.mainContent {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 4fr 1fr;
  margin: 1rem 0;
}

#card1 {
  grid-area: card1;
}

#card2 {
  grid-area: card2;
}

#card3 {
  grid-area: card3;
}

#card4 {
  grid-area: card4;
}

#bottomText {
  background-color: var(--grey2);
  height: fit-content;
  padding: 1rem;
  grid-area: bottomText;
}

#cardContainer {
  display: grid;
  grid-template-areas: 
  "card1 card2"
  "card3 card4"
  "bottomText bottomText";
  max-width: 100%;
}

.cardImage {
  width: 100%;
  height: 100%;
}


.card {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  border: solid .5rem var(--grey2);
}

.cardCaption {
  background-color: var(--main-color);
  color: var(--white);
  font-size: 1.75rem;
  margin: 0.2rem 0;
  padding: 1rem .5rem .5rem .5rem;
}

.cardText {
  padding: .5rem;
  line-height: 1.15rem;
}

.readMoar {
  padding: .5rem;
}

#mainAside {
  background-color: var(--grey2);
  margin-left: .5rem;
  padding: 1rem;
  line-height: 1.15rem;
}

#mainAside>h1 {
  font-size: 1.25rem;
  margin-bottom: .5rem;

}